.rangePanel, .iconsPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
}

.wrapper {
  background-color: green;
}

.iconsPanel {
  justify-content: space-evenly;
}

.rangePanel {
  justify-content: flex-start;
}
